body{
    margin: 4%;
}
h1{
    font-size : 40px;
    text-align: center;
    color: #da97b1;
    font-family:'Abril Fatface', cursive;
    font-style:inherit;
    line-height:10%;
}
h2{
    font-size: 25px;
    color: #fdfafb ;
    font-family:'Abril Fatface', cursive;
    background-color: rgb(214, 149, 182);
    width:100%;
    padding-left: 10px;
}
h3{
    font-size: 10px;
    color:#11303a;
    font-family:'Montserrat', sans-serif;;
    text-align: center;
    line-height: 5%;
}
p{
    color :#1c2427;
    font-size : 15px;
    font-family:'Montserrat', sans-serif;
}
.helloiam{
    display:flex;
    width:100%;
    justify-content:column;
    height:200px;
}
.hello{
    color :#335c6d;
    font-size : 15px;
    font-family:'Montserrat', sans-serif;
    display:flex;
    width:100%;
    justify-content:space-between;
    background-color: rgb(255, 226, 231);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right:10px;
    padding-left: 10px;
}
.cosmetic{
    background-color: rgb(255, 255, 255);
    padding-bottom: 10px;
    padding-right:10px;
    padding-left: 10px;
    width: 15%;
}
body{background-color:#ffffff;}
ul{
    color:#212425;
    font-family:'Montserrat', sans-serif; 
    font-size : 15px;
    width: 100%;
}
.ul1{
    color:#295361;
    font-family:'Montserrat', sans-serif; 
    font-size : 25px;
    background-color: rgb(255, 226, 231);
    padding-left: 10%;
    padding-right: 10%;
}
.acnefm{
    color:#295361;
    font-family:'Montserrat', sans-serif; 
    font-size : 25px;
    background-color: rgb(255, 226, 231);
    padding-left: 5%;
    padding-right: 5%;
}
img{
    display: block;
}
.a{
    color:#5b6163;
    font-family:'Montserrat', sans-serif; 
    font-size : 15px;
    width:500px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 330px;
    padding-left: 20px;
}
.links{
    color:rgb(49, 128, 207);
    font-size : 2em;
    font-family:'Abril Fatface', cursive;
}
.links:hover{
    font-size : 50px;
}
.abc{
    color:rgb(252, 243, 249);
    font-family:'Abril Fatface', cursive;
    font-size : 20 px;

}
.footer{
    color:#323536;
    font-family:'Montserrat', sans-serif; 
    font-size : 15px;
    background: rgb(255, 228, 232);
    width:100%;
    margin-top: 240px;
}
.favorite{
    color:rgb(250, 239, 247);
    font-family:'Abril Fatface', cursive;
    line-height: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.top2{
    font-size: 10px;
    color:rgb(48, 44, 45);
    font-family:'Montserrat', sans-serif; 
}
.tops{
    background-color: rgb(255, 228, 232);
    padding-top: 0.25%;
    padding-bottom: 0.35%;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.top2:hover{
    color:rgb(241, 235, 221);
}
.skincaresteps{
    font-size : 35px;
    text-align: left;
    color: #c582af;
    font-family:'Abril Fatface', cursive;
    font-style:inherit; 
    padding-top: 20px;
}
ol{
    color:#282d2e;
    font-family:'Montserrat', sans-serif; 
    font-size : 15px;
    width : 500px;
}
.references1{
    font-family:'Montserrat', sans-serif; 
}
.more{
    color :#335c6d;
    font-size : 15px;
    font-family:'Montserrat', sans-serif;
    display:flex;
    justify-content:column;
}
.skincare{
    color :#335c6d;
    font-size : 15px;
    font-family:'Montserrat', sans-serif;
    display:flex;
    justify-content:column;
}
.skincaretext{
    color :#335c6d;
    font-size : 15px;
    font-family:'Montserrat', sans-serif;
    padding-right: 12%;
    background-color: rgb(240, 226, 232);
}
.moretext{
    color :#335c6d;
    font-size : 15px;
    font-family:'Montserrat', sans-serif;
    display:flex;
    width:100%;
 
}
.onlineshop{
    color :#335c6d;
    font-size : 15px;
    font-family:'Montserrat', sans-serif;
    display:flex;
    justify-content:space-evenly;
    background-color: thistle;
    width:100%;
}


.videos{
    justify-content: column;
    width:100%;
}
.flip-card {
    background-color: transparent;
    width: 200px;
    height: 230px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: static;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front {
    color: pink;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
    font-family:'Montserrat', sans-serif;
  }
  
  .card {
    text-align: center;
    margin-top: -10px;
    font-size: 50px;
    color: white;
    padding-top:90px;
    padding-bottom: 90px;
    font-family:'Montserrat', sans-serif;
  }
  .makeuptips{
      background-image:url(../Img/makeuptips.png);
      background-color:rgb(175, 157, 168);
      height: 400px;
      opacity: 0.6;
  }
  .makeuptipsh{
      padding-top: 15%;
      color: rgb(0, 0, 0);
      font-family:'Montserrat', sans-serif;
  }
  .makeuptipscontent{
      display:flex;
      justify-content: space-evenly;
  }
  .makeuptipstext{
    font-family:'Montserrat', sans-serif;
    font-size:15px;
    background-color: rgb(233, 220, 233);
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .skincaredn{
    font-family:'Montserrat', sans-serif;
    font-size:15px;
    background-color: rgb(248, 217, 235);
    color: rgb(151, 99, 123);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .ftr{
    color:#323536;
    font-family:'Montserrat', sans-serif; 
    font-size : 15px;
    background: rgb(255, 228, 232);
    width:100%;
  }